video {
    width: 100%;
    height: auto;
    float: left;
    cursor: pointer;
}

.streamcomponent p{
    margin: 0;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
    background-image: none;
    padding: 5px;
    cursor: pointer;
}

